@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark)  {
  :root {
    color-scheme: light;
    --pf: 259 94% 44%;
    --sf: 314 100% 40%;
    --af: 174 75% 39%;
    --nf: 214 20% 14%;
    --in: 198 93% 60%;
    --su: 158 64% 52%;
    --wa: 43 96% 56%;
    --er: 0 91% 71%;
    --inc: 198 100% 12%;
    --suc: 158 100% 10%;
    --wac: 43 100% 11%;
    --erc: 0 100% 14%;
    --rounded-box: 1rem;
    --rounded-btn: 0.5rem;
    --rounded-badge: 1.9rem;
    --animation-btn: 0.25s;
    --animation-input: .2s;
    --btn-text-case: uppercase;
    --btn-focus-scale: 0.95;
    --border-btn: 1px;
    --tab-border: 1px;
    --tab-radius: 0.5rem;
    --p: 259 94% 51%;
    --pc: 259 96% 91%;
    --s: 314 100% 47%;
    --sc: 314 100% 91%;
    --a: 174 75% 46%;
    --ac: 174 75% 11%;
    --n: 214 20% 21%;
    --nc: 212 19% 87%;
    --b1: 0 0% 100%;
    --b2: 0 0% 95%;
    --b3: 180 2% 90%;
    --bc: 215 28% 17%;    
  }
}

html {  
  margin: 0;
  padding: 0;
  @apply scroll-smooth; 
  @apply snap-y snap-mandatory;
}

body {
  @apply relative;  
}

html, body {  
  background: rgb(252,252,252) url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="500" height="500"> <filter id="noise" x="0" y="0"> <feTurbulence type="fractalNoise" baseFrequency="0.65" numOctaves="3" stitchTiles="stitch"/> <feBlend mode="screen"/> </filter> <rect width="500" height="500" filter="url(%23noise)" opacity="0.15"/></svg>');
}

.drop-grande-left {
  filter: drop-shadow(-11px 11px 51px rgba(0,0,0,0.4));
}

.drop-grande-right {
  filter: drop-shadow(11px 11px 51px rgba(0,0,0,0.4));
}

.hide-firefox-error {
  @apply border-white border-solid border;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.short-bio {
  color: rgba(30, 30, 30, 1.0);  
  font-weight: 100;
  text-align:justify;
  font-size: 1.2rem;  
}

.funky-nav li .badge {
  @apply transition-all;
  filter: drop-shadow(-4px 4px 0px rgba(0,0,0,0.2));
}

.mask-funky {
  clip-path: polygon(50% 6%, 83% 12%, 100% 25%, 100% 100%, 68% 100%, 32% 100%, 0 100%, 0 25%, 17% 12%);
}

.mask-funky-2 {
  clip-path: polygon(50% 0, 83% 6%, 100% 19%, 100% 100%, 68% 100%, 32% 100%, 0 100%, 0 19%, 17% 6%);
}

.mask-funky-3 {
  clip-path: polygon(39% 0, 69% 16%, 93% 51%, 100% 100%, 68% 100%, 32% 100%, 0 100%, 0 0, 16% 0);
  /* clip-path: polygon(39% 0, 77% 0, 100% 23%, 85% 69%, 66% 100%, 32% 100%, 0 100%, 4% 53%, 21% 20%); */
  /* clip-path: polygon(50% 3%, 79% 0, 99% 7%, 82% 40%, 60% 71%, 18% 94%, 0 100%, 6% 50%, 23% 20%); */
  /* clip-path: polygon(44% 6%, 71% 0, 95% 4%, 86% 46%, 62% 71%, 22% 86%, 0 86%, 6% 50%, 23% 20%); */
  clip-path: polygon(44% 6%, 75% 1%, 100% 7%, 92% 43%, 70% 70%, 35% 88%, 0 93%, 6% 50%, 23% 20%);
}

.animate-dragons {
  animation-timing-function: ease-in-out;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-direction: alternate;      
  perspective: 400px;
}
#falka_shader_container.hide-falka shader-doodle {
  @apply lg:hidden;
}

.animate-dragon-left {
  animation-name: dragon-left;
  transform-origin: left center;
  transform: rotateY(-39deg);
}

#falka_shader_container shader-doodle {
  /* filter: drop-shadow(0px 0px 14px #4d6df6); */
}

.animate-dragon-left img {
  filter: drop-shadow(-9px 10px 14px rgba(0,0,0,0.33)) 
}

.animate-dragon-right img {
  filter: drop-shadow(9px 10px 14px rgba(0,0,0,0.33));
}

.animate-dragon-right {
  animation-name: dragon-right;
  transform-origin: right center;
}

div[data-canvas-ptack-grid]:after {
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background: transparent;
  top: 0;
  left: 0;
  opacity: 0;
}

@keyframes dragon-left {
  0% {
    transform: rotateZ(5deg);
  }
  100%{
    transform: rotateZ(-5deg) ;
  }
}

@keyframes dragon-right {
  0% {
    transform: rotateZ(-5deg)
  }
  100%{
    transform: rotateZ(5deg);
  }
}

/* 60s - 33.33 */

.turntable {
  @apply animate-turntable;
  /* @apply !mask-circle; */
  transform-origin: center;  
}